* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeee4;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 90%;
}

.main {
}

.hero {
  text-align: center;
  padding: 1rem;
}

.header {
  text-align: center;
  padding: 2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.card {
  margin: 1rem;
  max-width: 400px;
  text-align: center;
}

.about_container {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

.about {
  grid-column: 2/3;
  margin: 2rem;
}

#videoBG {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ration: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ration: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("img/poster.png");
    background-size: cover;
  }
}
