* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sansita Swashed", cursive;
  color: #eeeee4;
}
h1.title {
  font-size: 16vw;
  line-height: 0.8;
  font-family: "Hurricane", cursive;
  color: #fdd835;
}
h6.hero {
  font-size: 4vw;
  line-height: 0.8;
  font-family: "Hurricane", cursive;
  color: #ffe679;
}
.title {
  margin: 0 auto;
}
.hero {
  max-width: 70%;
  margin: 0 auto;
}
body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 80%;
}

.hero {
  text-align: center;
  margin-bottom: 3rem;
}

.header {
  text-align: center;
  padding: 1rem;
}

.testimonials {
  display: block;
}

@media (min-width: 768px) {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

.card {
  margin: 1rem;
  max-width: 400px;
  text-align: center;
  display: block;
}

#videoBG {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ration: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ration: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("img/poster.png");
    background-size: cover;
  }
}
